.header {
  background: rgb(123, 208, 241);
  height: 220px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header img {
  padding-top: 10px;
  height: 200px;
  width: auto;
  vertical-align: middle;
}
.header h1 {
  color: white;
  font-size: 2.5em;
  text-shadow: 2px 2px #ebc0c0;
}
/* big tablet to 1200px */
@media only screen and (max-width: 1210px) {
  .header h1 {
    text-align: center;

    font-size: 2em;
  }
}

/* small tablet to big tablet: 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .header h1 {
  }
}

/* small phones to small tablet: 480px to 767px */
@media only screen and (max-width: 820px) {
  .header img {
    height: 180px;
  }

  .header h1 {
    font-size: 1.8em;
  }
}

@media only screen and (max-width: 700px) {
  .header {
    height: 180px;
  }
  .header img {
    height: 150px;
    margin-right: -16px;
  }

  .header h1 {
    margin-left: 0;
  }
}
@media only screen and (max-width: 540px) {
  .header {
    height: 160px;
  }
  .header img {
    height: 120px;
    margin-right: -1px;
  }

  .header h1 {
    font-size: 1.4em;
  }
}
